
    body {
      font-family: "Roboto", sans-serif;
      color: #434455;
      background-color: #fff;
    
    }
    ul,
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .p, 
    h1, 
    h2, 
    h3,
    h4,
    h5,
    h6{
    margin: 0;
    }
    a {
      text-decoration: none;
    }
    img{
      display: block;
      height: auto;
    }

    .container{
      max-width: 1158px;
      padding: 0 15px;
      margin: 0 auto;

    }
    /* #region header */
    .page-header{
      border-bottom: 1px solid #e7e9fc;
    }
    .header-container{
      display: flex;
      align-items: center;
    }
    .header-nav{
      display: flex;
      align-items: center;
    }
    .nav-list{
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .logo {
      font-family: "Raleway", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
    }
    .header-logo .logo-part {
      color: #2e2f42;
    }
    .header-logo{
      padding: 24px 0;
      margin-right: 76px;
    }
    .nav-item{
    }
    .nav-link {
      padding: 24px 0;
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42; 
    }
    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus {
      color: #404bbf;
    }
    .contacts {
      font-style: normal;
      margin-left: auto;
    }
    .contacts-list{
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .contacts-link {
      padding: 24px 0;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
    }
  /* #endregion header */
  .sections{
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .title-section {
    background-color: #2e2f42;
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 188px 0 188px;
    
  }
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    
  }
  .title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px; 
  }
  .title-button {
  background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    transition: 0.3s ease;
    min-width: 169px;
    
  }
  .title-button:hover,
  .title-button:focus {
    background: #404bbf;

  }
  .title-button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    
  
  }
  .visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }


  .achievement-titem {
    margin-top: 60px; 
    color: #2e2f42;
  }
  .achievement-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    max-width: 1128px;
    border-top-left-radius: 0px;
    margin: 0 auto;
    gap: 24px;
  }
  .achievement-item{
width: calc((100% - 72px) / 4); 
  }
  .achievement-value {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

  }
  .achievement-value-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
  }


.our-team {
  padding: 120px 0 120px;
}
.our-team-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  margin-bottom: 72px; 
}
.our-team-list {
  display: flex; 
  gap: 24px;
}
.our-team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px; 
}
.name-work{
  padding: 32px 0;

}

.our-team-name {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}
.our-team-working {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.our-portfolio {
  font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.our-portfolio{
padding-top: 120px;
}
.our-portfolio-title {
   
  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-item {
  width: calc((100% - 48px) / 3); 
}
.app-name{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.our-portfolio-name {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.our-portfolio-appointment {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

  

  /*footer region*/
  .page-footer {
    padding: 100px 0 100px;
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    margin: 0 auto;
    width: 100%;
  }
  .footer-logo{
    display: inline-block; 
    margin-bottom: 16px;
  }
  .footer-logo .logo-part {
    color: #f4f4fd;
    
    
  }
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
  }
/*#endfooter region*/

